<h1>Add another vehicle:</h1>

<form action="/vehicles" method="post">
  <label for="make">Make:</label>
  <input id="make" name="make" type="text">

  <label for="model">Model:</label>
  <input id="model" name="model" type="text">

  <label for="year">Year:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Add Vehicle</button>
</form>
